body {
    font-family: Verdana, sans-serif;
    background-color: #FFB16D;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: Verdana, sans-serif;

}

h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana, sans-serif;
  
}
